<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light bottom-shadow">
  <b><%= link_to 'Tweeter', posts_path, class: "navbar-brand" %></b>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Home', posts_path, class: "nav-link #{is_active?('posts','index')}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Profile', profile_users_all_index_path, class: "nav-link #{is_active?('users','profile')}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Hashtags', tags_path, class: "nav-link #{is_active?('tags', 'index')}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Users', users_all_index_path, class: "nav-link  #{is_active?('users', 'index')}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    </ul>
    <!-- Search -->
    <%= form_tag posts_path, method: :get, class: 'form-inline my-2 my-lg-0 mx-auto' do %>
      <%= text_field_tag :term, params[:term], class: 'form-control mr-sm-2' %>
      <%= submit_tag 'Search', class: 'btn btn-outline-success my-2 my-sm-0' %>
      <%= link_to 'Show all', posts_path, class: 'ml-3 btn btn-outline-info my-2 my-sm-0' %>
    <% end %>

    <span class="navbar-text">
      Welcome, @<%= current_user.username %>!
    </span>
  </div>
</nav>
