<br><br>

<div class="container">
  <h1><small>Posts with</small> <%= @tag.name %> </h1>
  <% @posts.each do |post| %>
  <div class="card container mx-auto p-4 my-3 my-card">
    <%= link_to users_all_path(post.user), style: "color:white;" do %>
      <p>
        <%= image_tag post.user.avatar.url(:thumb), class: "crop-small" if post.user.avatar.file? %><b>@<%= post.user.username %></b>
      </p>
    <% end %>
    <p>
      <%= post.content %>
    </p>
    <small>Tweeted at: <%= post.created_at %></small>
    <% post.tags.all.each do |tag| %>
      <%= link_to "#{ tag.name }", tag_path(tag) %>
    <% end %>
  </div>
  <% end %>
</div>
