<div class="jumbotron my-header">
  <h1>Welcome to Tweeter!</h1>
</div>

<div class="container">
  <div class="container">
    <div class="card p-4 my-0">
      <%= render "new" %>
    </div>
  </div>

  <br><br>

  <div class="container">
    <% @posts.each do |post| %>
    <div class="card container mx-auto p-4 my-3 my-card">
      <p>
        <%= post.content %>
      </p>
      <small>Tweeted at: <%= post.created_at %></small>

      <%= render partial: "tags/new", locals: {post: post} %>
      <% post.tags.all.each do |tag| %>
        #<%= tag.name %>
        <%= link_to 'Show posts with hashtag', post_tag_path(post, tag) %>
        <%= link_to 'Delete hashtag', post_tag_path(post, tag), method: :delete %>
      <% end %>
      <%= link_to 'Delete Tweet', post_path(post), method: :delete %>
    </div>
    <% end %>
  </div>


</div>
